<!-- <button class="my-button button1">
    <div class="button-part-1">
      <div class="name-field">John Doe</div>
    </div>
    <div class="button-part-2">
      <div class="snippet-field">This is a snippet of a text file. This text is intended to see how the file will look in the end.</div>
    </div>
</button>

<button (click)="openNote()" class="my-button button2">
    <div class="button-part-1">
      <div class="name-field">Jane Doe</div>
    </div>
    <div class="button-part-2">
      <div class="snippet-field">This is a snippet of a text file. This text is intended to see how the file will look in the end.</div>
    </div>
</button>

<button (click)="openNote()" class="my-button button2">
  <div class="button-part-1">
    <div class="name-field">Something here</div>
  </div>
  <div class="button-part-2">
    <div class="snippet-field">This is a snippet of a text file. This text is intended to see how the file will look in the end.</div>
  </div>
</button> -->

<app-note-button></app-note-button>