
  <div *ngFor="let item of data[1]; let i = index">
    
  <button (click)="openNote(item)" class="my-button button1">
  <div class="left">
  <div class="button-part-1">
    <div class="name-field">{{item}}</div>
  </div>
  <div class="button-part-2">
    <div class="snippet-field">{{data[0][i]}}</div>
  </div>
</div>
  <div (click)="deleteElement($event, item)" class="button-part-3">
    <div class="delete-button">
      <button class="delete">Delete</button>
    </div>
  </div>

</button>
  </div>
