<div class="banner">

    <p>
       <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <img src="./assets/Folder.png">
      </button>
      <!-- <span>My App</span> -->
      <span class="example-spacer"></span>

      <button (click)="toggleComponent()" title="test1" icon-right class="icon-right" aria-label="Example icon-button with heart icon">
        <img src="./assets/Mail.png">
      </button>

      <button title="test2" icon-right class="icon-right" aria-label="Example icon-button with share icon">
        <img src="./assets/Trash.png">
     </button>
    </p>

  </div>