<div class="banner">

    <p>

      <button (click)="toggleComponent()" title="edit" icon-right class="icon" aria-label="Example icon-button with heart icon">
        <img src="./assets/edit.png">
      </button>

      <button *ngIf="isButtonVisible" (click)="sendText()" title="save" icon-right class="icon" aria-label="Example icon-button with share icon">
        <img src="./assets/send.png">
     </button>

     <button *ngIf="isButtonVisible" (click)="clearField()" title="clear" icon-right class="icon" aria-label="Example icon-button with share icon">
      <img src="./assets/clear.png">
   </button>
  
    </p>

    <hr>

    <p>
      <button mat-icon-button class="right" title="menu" aria-label="Example icon-button with menu icon">
        <img src="./assets/menu.png">
      </button>

    </p>

  </div>